<section class="review">
  <% user = User.find review.user_id %>
  <% rating = review.rating %>
  <span class="review-rating">
    <% (1..5).each do |num| %>
      <% if num <= rating %>
        <span class="glyphicon glyphicon-star"></span>
      <% else %>
        <span class="glyphicon glyphicon-star-empty"></span>
      <% end %>
    <% end %>
  </span>
  <span class="review-info">By <%= user.first_name %> <%= user.last_name%> on <%= review.created_at %></span>
  <span class="review-description"><%= review.description%></span>
</section>