<article class="review">
  <% user = User.find review.user_id %>
  <p>User: <%= user.first_name %> <%= user.last_name%></p>
  <p>Rating: <%= review.rating %></p>
  <p>Description: <%= review.description%></p>
</article>